{%load static  %}
<footer class="footer" style="background-image: url('{% static 'image/background.jpg' %}');background-color:black;
color: white;
padding: 20px 0;
text-align: center;
margin-top: auto; ">

  <div class="container-fluid">
    <div class="row" >
      <div class="col-md-3 text-center">
        <h3 style="color: rgb(156, 134, 6);">OUR LOCATION</h3>
        <a href="https://maps.app.goo.gl/zSqETo1k79DFD5Up8" style="text-decoration:None; color:white;">Uhuru, Dar es Salaam, Tanzania</a>
        <p><a href="https://maps.app.goo.gl/ZnHNa9F8kcqhinY36" style="text-decoration:None; color:white;"> Mbezi Beach Rafia, Kituo Kipya, Dar es Salaam</a></p>
      </div>
      <div class="col-md-3 text-center" >
      <h3 style="color: rgb(156, 134, 6);">Quick Links</h3>
      
        
          
      <a href="https://www.instagram.com/mhd_quality_carpettz?igsh=ODE0cXhiZnMzazFh" style=" text-decoration:None;  ">
        <img src="{% static 'image/Screenshot2025-02-04105138.png' %}" style="width:30px; margin:10px; background-color: black;">
    </a>
    <a href="https://www.threads.net/@mhd_quality_carpettz" style=" text-decoration:None;  ">
        <img src="{% static 'image/Screenshot2025-02-04110748.png' %}" style="width:30px;margin:10px;">
    </a>
    <a href="https://www.facebook.com/memoriki.urio?mibextid=ZbWKwL" style=" text-decoration:None;  ">
        <img src="{% static 'image/Screenshot2025-02-04110141.png' %}" style="width:30px;margin:10px;">
    </a>
    <a href="https://wa.me/255719363640" style=" text-decoration:None;  ">
        <img src="{% static 'image/Screenshot2025-02-04111440.png' %}" style="width:30px;margin:10px;">
    </a>

    <a href="https://www.linkedin.com/in/mhd-decor-89830625a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" style=" text-decoration:None;  ">
      <img src="{% static 'image/Screenshot2025-02-04111956.png' %}" style="width:30px;margin:10px;">
  </a>
    </div>
      
    
      <div class="col-md-3 text-center">
        <h3 style="color: rgb(156, 134, 6);">Services</h3>
        <p><a href="{% url 'Carpet_tiles' %}" style="text-decoration:None; color:white;">
          Carpet tiles </a>|
          <a href="{% url 'furniture' %}"style="text-decoration:None; color:white;">
            Furniture</a> </p>
        <p><a href="{% url 'Interior_decoration' %}" style="text-decoration:None; color:white;">
          Interior decoration </a>|
          <a href="{% url 'Lvt' %}" style="text-decoration:None; color:white;">
            Lvt</a> </p>
            <p><a href="{% url 'spc' %}" style="text-decoration:None; color:white;">
              Spc </a>|
              <a href="{% url 'wallTowall' %}" style="text-decoration:None; color:white;">
                Wall to wall</a> </p>
                <p><a href="{% url 'Blinds' %}" style="text-decoration:None; color:white;">
                  Blinds </a>|
                  <a href="{% url 'Vinylsheetfloor' %}" style="text-decoration:None; color:white;">
                    Vinylsheet floor</a> </p>
        </div>
        <div class="col-md-3 text-center">
          <p style="color: rgb(156, 134, 6);">CONTACT US</p>
                      <a href="https://wa.me/255719363640" target="_blank" class="btn btn-success" style="color:white; text-decoration:none; font-size:16px;">
      Message WhatsApp
      <img src="{% static 'image/whatsapp.png'%}" style="width:20px ; margin:10px;">
    </a><br><br>
   </div>
    </div>
    <p>&copy; 2024 DMG Technology. All rights reserved.</p>
  </div>
</footer>